@model SoundChoice.Models.Sound
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SoundChoice</h1>
    <p></p>
</div>

<div class="select2-container">
    /*Audio preview & download buttons*/
    /*filter system*/
</div>
